.nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 1.3em;
	padding-bottom: 1em;
	background-color: #00364d;
	border-bottom: #3a4d55 solid 1px;
	position: fixed;
	width: 100%;
	z-index: 5;
}
.li:hover {
	color: #007bff;
}
.list {
	display: flex;
	list-style: none;
	gap: 2em;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}
.li {
	font-size: 1.2em;
	text-decoration: none;
	color: white;
}

.toggle {
	position: relative;
	height: 30px;
	width: 50px;
	border-radius: 50px;
	background-color: black;
	display: flex;
}
.checkbox {
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: pointer;
	padding: 0;
	margin: 0;
	opacity: 0;
}
.slider {
	height: 27px;
	width: 27px;
	border-radius: 50%;
	background-color: black;
	margin: 2px 3px 2px 3px;
	box-shadow: inset 8px -4px 0px 0px white;
	cursor: pointer;
	transition: 0.5s ease;
	padding-top: 1px;
}
.toggle:has(.checkbox:checked) {
	background: white;
}
.checkbox:checked + .slider {
	transform: translate(18px);
	background: yellow;
	box-shadow: none;
}

.darkTheme .li:hover {
	color: #007bff;
}
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 500px;
}
.title {
	font-size: 60px;
}
.titlebis {
	font-size: 50px;
}
.lastname {
	color: #00364d;
}
.darkTheme .title {
	color: black;
}
.darkTheme .titlebis {
	color: black;
}
.lightTheme .title {
	color: white;
}
.lightTheme .titlebis {
	color: white;
}
.container {
	width: fit-content;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3em;
	border-radius: 0.5rem;
	gap: 2em;
	background-color: #00364d;
	flex-wrap: wrap;
}
.logolang {
	padding: 1em;
	color: #ffffff;
	gap: 0.5em;
}
.logo {
	height: 4em;
}
.titlelogo {
	padding-top: 1em;
	font-size: medium;
}
@media screen and (max-width: 1100px) {
	.container {
		width: fit-content;
		gap: 1em;
		padding: 10px;
	}
	.logo {
		height: 2em;
	}
	.titlelogo {
		padding-top: 0.7;
		font-size: small;
	}
	.title {
		font-size: 30px;
	}
	.titlebis {
		font-size: 20px;
	}
	.list {
		font-size: small;
	}
	.button {
		margin-right: 0;
	}
}

.button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 24px;
	transition: transform 0.25s ease;
	margin-right: 0.5em;
}

.button:hover {
	transform: scale(1.2);
}

.defaultEmoji {
	display: block;
}

.hoverEmoji {
	display: none;
}

.button:hover .defaultEmoji {
	display: none;
}

.button:hover .hoverEmoji {
	display: block;
}

.btncontext {
	display: flex;
	align-items: center;
}
