.projet {
	padding: 5em;
	text-align: center;
}
.projet::before {
	content: "";
	display: block;
	width: 50%;
	border-top: #00364d 2px solid;
	margin: 0 auto 20px;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 3em;
	color: white;
}

.containerprojet {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 10px;
	justify-items: center;
}

/* .card {
	width: 100%;
	max-width: 420px;
	background-color: #00364d;
	border-radius: 8px;
	
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.cardTitle {
	font-size: 1.25rem;
	margin-top: 15px;
	font-weight: bold;
	color: white;
	padding-bottom: 1em;
}

.link {
	text-decoration: none;
	color: #fff;
	background-color: #007bff;
	padding: 10px 15px;
	border-radius: 4px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	transition: background-color 0.3s ease;
}

.link:hover {
	background-color: #0056b3;
}

.darkTheme .title {
	color: black;
}

@media screen and (max-width: 1100px) {
	.containerprojet {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
	.card {
		max-width: 250px;
	}
	.link {
		font-size: small;
		padding: 7px 10px;
	}
} */

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 200px;
	gap: 1em;
	transition: 0.3s;
}

.li {
	position: relative;
	overflow: hidden;
	flex: 0 0 80px;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid white; /* Corrigé: il y avait un espace entre le 1 et px */
}

.image {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease; /* Ajouté pour animer le zoom */
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 15px;
	background: linear-gradient(
		0deg,
		rgb(0 0 0 / 70%) 10%,
		rgb(255 255 255 / 0%) 100%
	);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0s 0.3s; /* Ajouté pour rendre visible à la fin de l'animation */
}

.container:hover {
	gap: 0;
}

.span {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 0px;
	translate: -50%;
	scale: 0.85;
	visibility: hidden;
	opacity: 0;
	transition: scale 0.3s ease, opacity 0.3s ease;
}

.li:hover .image {
	transform: scale(1.2); /* Agrandit l'image au survol */
}

.li:hover .content {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease, visibility 0s; /* Rendre le contenu visible au survol */
}

.li:hover .span {
	scale: 1;
	opacity: 1;
	visibility: visible;
}
