.projet {
	padding: 5em;
	text-align: center;
}
.projet::before {
	content: "";
	display: block;
	width: 50%;
	border-top: #00364d 2px solid;
	margin: 0 auto 20px;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 3em;
	color: white;
}
.darkTheme .title {
	color: black;
}

.containerprojet {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 10px;
	justify-items: center;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 400px;
	gap: 1em;
	transition: 0.3s;
}

.li {
	position: relative;
	overflow: hidden;
	flex: 0 0 250px;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid white;
	transition: transform 0.3s ease;
}

.image {
	position: absolute;
	object-fit: contain;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s ease;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 15px;
	background: linear-gradient(
		0deg,
		rgb(0 0 0 / 70%) 10%,
		rgb(255 255 255 / 0%) 100%
	);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.container:hover {
	gap: 0;
}

.span {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 0px;
	translate: -50%;
	scale: 0.85;
	visibility: hidden;
	opacity: 0;
	transition: scale 0.3s ease, opacity 0.3s ease;
}

.li:hover {
	transform: scale(1.5);
	z-index: 5;
}

.li:hover .image {
	transform: scale(1.2);
}

.li:hover .content {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease, visibility 0s;
}

.li:hover .span {
	scale: 1;
	opacity: 1;
	visibility: visible;
}
